* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: #f07c7c;
    background-image: repeating-linear-gradient(rgb(104, 64, 11), rgb(81, 95, 149));  
    
   }


   header{
       top:10px;
       height: 5em;
       display:flex;
       flex-direction: column;
       position: relative;
       text-align: center;
       align-items: center;
       background-color: rgb(175, 129, 68);
   }


.timeline-container {
    position: relative;
    max-width: 1200px;    
    margin: 0 auto;
    top: 1.5em;
}
.timeline-container::after{
    content:'';
    position: absolute;
    width: 6px;
    background-color:rgb(5, 76, 182);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -12px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 10px;
    border-radius: 50%;
    z-index: 1;
    border:2px solid black;
  }
   /* Place the container to the right */
   .right {
    left: 50%;
    
  }
  /* Place the container to the left */
.left {
    left: 0;
  }
  
 