* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: #f07c7c;
    background-image: repeating-linear-gradient(rgb(104, 64, 11), rgb(81, 95, 149));
  
     
    
}
.timeline-bg{
    background: url("/images/stillonajourney.jpg") no-repeat center fixed;
    background-size: contain;   
   
}
/* timeline ruler */
#timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
#timeline::after{
    content:'';
    position: absolute;
    width: 6px;
    background-color:rgb(5, 76, 182);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
